useDynLib( cvam, .registration=TRUE )

import( "stats" )
import( "Formula" )

export( coarsened )
export( is.coarsened )
export( print.coarsened )
export( baseLevels )
export( coarseLevels )
export( nBaseLevels )
export( nCoarseLevels )
export( mapping )
export( dropCoarseLevels )
export( is.naCoarsened )
export( latentFactor )
export( is.latentFactor )

export( cvamPrior )
export( summary.cvamPrior )
export( print.cvamPrior )
export( print.summary.cvamPrior )
export( cvamControl )
export( cvam )
export( cvam.cvam )
export( cvam.default )
export( cvam.formula )
export( print.cvam )
export( summary.cvam )
export( print.summary.cvam )
export( print.cvamEstimate )
export( print.cvamEstimateList )
export( cvamEstimate )
export( cvamPredict )
export( cvamImpute )
export( cvamLik )
export( anova.cvam )

export(get.coef)
export(get.covMat)
export(get.estimates)
export(get.loglik)
export(get.logP)
export(get.mfTrue)
export(get.modelMatrix)
export(get.offset)
export(get.strZero)
export(get.fitted)
export(get.imputedFreq)
export(get.minus2logPSeries)
export(get.coefSeries)
export(get.probSeries)

export(miInference)
export(print.miInference)

S3method( summary, cvamPrior )
S3method( print, cvamPrior )
S3method( print, summary.cvamPrior )
S3method( cvam, formula )
S3method( cvam, cvam )
S3method( cvam, default )
S3method( print, cvam )
S3method( summary, cvam )
S3method( print, summary.cvam )
S3method( print, cvamEstimate )
S3method( print, cvamEstimateList )
S3method( anova, cvam )
S3method( print, coarsened )
S3method( droplevels, coarsened )
S3method( relevel, coarsened )
S3method( reorder, coarsened )
S3method( rep, coarsened )
S3method( print, miInference )
S3method( `[`, coarsened )
S3method( `[[`, coarsened )
S3method( `[<-`, coarsened )
S3method( `[[<-`, coarsened )
